.wrapper {
    display: flex;
    height: 100%;
    padding: 20px 80px;
    justify-content: space-between;
    overflow: hidden;
    letter-spacing: 1px;
    color: var(--color-text);
}

.intro * {
    padding: 6px 0;
}
.intro {
    padding-top: 20px;
    z-index: 3;

    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    p {
        font-size: 2rem;
        font-weight: bold;
    }
    .typed-text {
        color: #0c6de3;
    }
}

.check-list {
    width: 100%;
    height: 120px;

    .checkbox + span {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0 12px 0 4px;
    }
}

.btn-block {
    margin-top: 16px;
    display: flex;
}

.img-block {
    width: 450px;
}
.home-img {
    width: 600px;
}

@media (max-width: 850px) {
    .wrapper {
        padding: 30px;
    }
    .img-block {
        position: absolute;
        bottom: 10%;
        right: -10%;
    }
    .home-img {
        width: 400px;
    }
}

@media (max-width: 510px) {
    .wrapper {
        padding: 0;
        margin: 0;
    }

    .check-list {
        height: 80px;
    }
    .intro {
        text-align: center;
    }

    .btn-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btn {
            color: var(--white);
            background-color: #14111180;
        }
    }

    .img-block {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .home-img {
        width: 500px;
    }
}
