.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(34, 31, 31, 0.9);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 10;
}
