.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.right-icon,
.left-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 50%;
    align-self: center;

    &:hover {
        background-color: var(--primary);
    }
}

.right-icon {
    margin-left: 2.4rem;
}

.left-icon {
    margin-right: 2.4rem;
}
.btn {
    margin: 0;
}

@media (max-width: 510px) {
    .control {
        margin-top: 2rem;
    }
}
